<!-- lang: xml-->
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <logger name="logback"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>


    <logger name="org.camunda.bpm.engine.impl.persistence.entity" level="debug" >
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.camunda.bpm.engine.history" level="debug" >
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.camunda.bpm.engine" level="debug" >
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>